<div class="flex column">
   <div class="">
      <div class="ant-spin-container">
         <div class="content-container">
            <div class="flex flex--jc-sa flex--align-center">
               <div class="content">
                  <form  name="myForm" [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm.value)" >
                     <h2>Login to Members Area.</h2>
                     <div class="input"><input type="text" formControlName="userName" placeholder="email address" value=""></div>
                     <div class="input"><input type="password" formControlName="password" placeholder="password" value=""></div>
                     <div class="form-footer"><button [disabled]="!myForm.valid || isLoggedIn " type="submit" class="button default centered ">Login Now</button><a class="label-marker" href="/auth/reset">Reset password</a></div>
                  </form>
               </div>
               <div class="social">
                  <a href="http://localhost:2233/auth/login/facebook" class="button block facebook">
                     <i class="fa fa-facebook-official" aria-hidden="true"></i><!-- react-text: 143 --> Login with Facebook<!-- /react-text -->
                  </a>
                  <a href="http://localhost:2233/auth/login/google" class="button block google">
                     <i class="fa fa-google" aria-hidden="true"></i><!-- react-text: 146 --> Login with Google<!-- /react-text -->
                  </a>
                  <a href="http://localhost:2233/auth/login/twitter" class="button block twitter">
                     <i class="fa fa-twitter" aria-hidden="true"></i><!-- react-text: 149 --> Login with Twitter<!-- /react-text -->
                  </a>
                  <a href="http://localhost:2233/auth/login/instagram" class="button block instagram">
                     <i class="fa fa-instagram" aria-hidden="true"></i><!-- react-text: 152 --> Login with Instagram<!-- /react-text -->
                  </a>
               </div>
            </div>
            <div class="center m-t-20"><a class="button default centered extra-padding" href="/auth/register">Not yet a member? Register Now</a></div>
         </div>
      </div>
   </div>
</div>
