
<div class="flex column">
   <div class="">
      <div class="ant-spin-container">
         <div class="content-container">
            <div class="flex flex--jc-sa flex--align-center">
               <div class="content">
                  <form  name="myRegForm" [formGroup]="myRegForm" novalidate (ngSubmit)="onSubmit(myRegForm.value)">
                     <h2>Register new account.</h2>
                     <div class="input"><input type="text" formControlName="userName" placeholder="full name" value=""></div>
                     <div class="input"><input type="text" formControlName="email" placeholder="email address" value=""></div>
                     <div class="input"><input type="text" formControlName="phone" placeholder="phone number" value=""></div>
                     <div class="input"><input type="password" formControlName="password" placeholder="password" value=""></div>
                     <div class="input"><input type="password" formControlName="varifyPassword"  placeholder="verify password" value=""></div>
                     <div class="form-footer">
                      <button [disabled]="!myRegForm.valid || isLoggedIn " type="submit" class="button default centered ">Register Now</button>
                      <a class="label-marker" href="/auth/login">← Back to Login Page</a></div>
                  </form>
               </div>
               <div class="social">
                  <a href="http://localhost:2233/auth/login/facebook" class="button block facebook">
                     <i class="fa fa-facebook-official" aria-hidden="true"></i><!-- react-text: 254 --> Login with Facebook<!-- /react-text -->
                  </a>
                  <a href="http://localhost:2233/auth/login/google" class="button block google">
                     <i class="fa fa-google" aria-hidden="true"></i><!-- react-text: 257 --> Login with Google<!-- /react-text -->
                  </a>
                  <a href="http://localhost:2233/auth/login/twitter" class="button block twitter">
                     <i class="fa fa-twitter" aria-hidden="true"></i><!-- react-text: 260 --> Login with Twitter<!-- /react-text -->
                  </a>
                  <a href="http://localhost:2233/auth/login/instagram" class="button block instagram">
                     <i class="fa fa-instagram" aria-hidden="true"></i><!-- react-text: 263 --> Login with Instagram<!-- /react-text -->
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
