<section class="section section-bg" ng-controller="authController">
 <div class="container">

  <div class="title-subtitle-block">
   <h2 class="title">Sign in to your account.</h2>
  </div>

  <div class="narrow-form-holder sign-form-holder">
   <div>

    <div class="social-buttons override-col-margin col-md-12" style="margin-bottom: 20px;">
     <div class="col-md-6 override-col-margin">

      <a style="width: 100%" href="oauth/facebook" class="btn btn custom-btn facebook custom-btn-secondary custom-btn-blue"><i
							class="fa fa-facebook "></i> Facebook</a>
     </div>

     <div class="col-md-6 override-col-margin">
      <a style="width: 100%" href="oauth/google" class="btn btn custom-btn google custom-btn-secondary custom-btn-blue"><i
							class="fa fa-google-plus "></i> Google</a>
     </div>
    </div>
    <form class="form" class="row col-md-12" role="form" novalidate name="loginform" ng-submit="login(loginform)" accept-charset="UTF-8"
     id="login-nav">

     <div class="form-group email optional user_email">
      <label class="email optional control-label" for="user_email">Email</label>
      <input type="email" ng-model="user.username" class="form-control" name="email" id="email" placeholder="Email address">

     </div>
     <div class="form-group password optional user_password">
      <label class="password optional control-label" for="user_password">Password</label>
      <input type="password" ng-model="user.password" class="form-control" name="password" id="password" placeholder="Password">

     </div>
     <div class="form-group flexbox-between">
      <input class="btn btn custom-btn custom-btn-secondary custom-btn-blue" name="commit" type="submit" value="Sign In">
     </div>
     <br>
     <div class="form-group text-center">
      Need to create an account? <a class="underlined action" [routerLink]="['/auth/register']">Sign up</a>
     </div>
     <div class="form-group text-center">
      Forgot your password? <a class="underlined action" [routerLink]="['/auth/reset']">Recover it</a>
     </div>
     </form>
   </div>
  </div>



 </div>
</section>