<div class="masthead">
     <div class="image-fallback"></div>
     <div class="video-container">
         <div class="video-inner">
             <video autoplay="" muted="" loop="" class="video">
                 <source src="https://s3.eu-central-1.amazonaws.com/ngnl/videos/ng-nl.mp4" type="video/mp4">
                     <source src="https://s3.eu-central-1.amazonaws.com/ngnl/videos/ng-nl.oggtheora.ogv" type="video/ogg">
                     </video>
                 </div>
             </div>
             <div class="container">
                 <div class="row">
                     <div class="col-lg-12">
                         <div class="masthead-content">
                             <div class="logo noselect">
                                 <div class="name name-1"><h1>console.log('Welcome, JS Devs')</h1></div><div class="name name-2"></div>
                             </div>
                             <p class="date noselect">checkout my webcasts</p>
                             <p class="introduction">
                                 Stay tuned for slides, Code , videos and photos.
                             </p>
                             <div class="row">
                                 <div class="col-md-12">
                                     <div class="highlights">
                                         <div class="row">
                                             <div class="col-md-4 highlight">
                                                 <i class="material-icons"></i>
                                                 <h2 class="title">AWESOME KNOWLEDGE</h2>
                                                 <p>The  best Angular experts inspire you to bring your Angular projects to a higher level. Want to dig deeper? Interact directly with the speakers and get your pressing questions answered in the “Ask Me Anything” sessions.</p>
                                             </div>
                                             <div class="col-md-4 highlight">
                                                 <i class="material-icons"></i>
                                                 <h2 class="title">GET YOUR HANDS DIRTY</h2>
                                                 <p>The Angular ecosystem is mature and fast-paced. Get the most out of Angular 1 and learn Angular 2, TypeScript and ES6 during hands-on workshops.</p>
                                             </div>
                                             <div class="col-md-4 highlight">
                                                 <i class="material-icons"></i>
                                                 <h2 class="title">DISCUSS HOT TOPICS</h2>
                                                 <p>Meet Angularians from all over the world. Share knowledge. Enjoy good food. Experience the thrilling vibe of creative energy and professional potential.</p>
                                             </div>
                                         </div>
                                         <p class="more-info">Its totally online webcast community get in touch raise your concerns and get them solved</p>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
