
<section id="photo">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Photos</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<a href="#" class="thumbnail">
					<img src="https://s3.eu-central-1.amazonaws.com/ngnl/images/photos/landscape/photo00101.jpg" class="img-responsive">
				</a>
			</div>
			<div class="col-xs-3">
				<a href="#" class="thumbnail">
					<img src="https://s3.eu-central-1.amazonaws.com/ngnl/images/photos/landscape/photo00100.jpg" class="img-responsive">
				</a>
			</div>
			<div class="col-xs-3">
				<a href="#" class="thumbnail">
					<img src="https://s3.eu-central-1.amazonaws.com/ngnl/images/photos/landscape/photo00103.jpg" class="img-responsive">
				</a>
			</div>
			<div class="col-xs-3">
				<a href="#" class="thumbnail">
					<img src="https://s3.eu-central-1.amazonaws.com/ngnl/images/photos/thumbs/photo00102.jpg" class="img-responsive">
				</a>
			</div>
			<div class="col-xs-3">
				<a href="#" class="thumbnail">
					<img src="https://s3.eu-central-1.amazonaws.com/ngnl/images/photos/landscape/photo00104.jpg" class="img-responsive">
				</a>
			</div>
			<div class="col-xs-3">
				<a href="#" class="thumbnail">
					<img src="https://s3.eu-central-1.amazonaws.com/ngnl/images/photos/landscape/photo00106.jpg" class="img-responsive">
				</a>
			</div>
			<div class="col-xs-3">
				<a href="#" class="thumbnail">
					<img src="https://s3.eu-central-1.amazonaws.com/ngnl/images/photos/landscape/photo00108.jpg" class="img-responsive">
				</a>
			</div>
			<div class="col-xs-3">
				<a href="#" class="thumbnail">
					<img src="https://s3.eu-central-1.amazonaws.com/ngnl/images/photos/landscape/photo00109.jpg" class="img-responsive">
				</a>
			</div>
			<div class="col-xs-3">
				<a href="#" class="thumbnail">
					<img src="https://s3.eu-central-1.amazonaws.com/ngnl/images/photos/landscape/photo00111.jpg" class="img-responsive">
				</a>
			</div>
			<div class="col-xs-3">
				<a href="#" class="thumbnail">
					<img src="https://s3.eu-central-1.amazonaws.com/ngnl/images/photos/landscape/photo00110.jpg" class="img-responsive">
				</a>
			</div>
			<div class="col-xs-3">
				<a href="#" class="thumbnail">
					<img src="https://s3.eu-central-1.amazonaws.com/ngnl/images/photos/thumbs/photo00114.jpg" class="img-responsive">
				</a>
			</div>
			<div class="col-xs-3">
				<a href="#" class="thumbnail">
					<img src="https://s3.eu-central-1.amazonaws.com/ngnl/images/photos/thumbs/photo00115.jpg" class="img-responsive">
				</a>
			</div>
		</div>


	</div>

</section>
