Formatted HTML:
<div class="flex column">
   <div class="">
      <div class="ant-spin-container">
         <div class="content-container">
            <div class="flex flex--jc-sa flex--align-center">
               <div class="content">
                  <form>
                     <h2>Enter your email address.</h2>
                     <div class="input"><input type="text" placeholder="email address" value=""></div>
                     <div class="form-footer"><button type="submit" class="ant-btn ant-btn-primary">Reset password</button><a class="label-marker" href="/auth/login">← Back to Login Page</a></div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
