
<div class="flex column">
   <div class="">
      <div class="ant-spin-container">
         <div class="content-container">
            <div class="flex flex--jc-sa flex--align-center">
               <div class="content">
                  <form name="myAuthForm" [formGroup]="myAuthForm"   (ngSubmit)="submitForm(myAuthForm.value)">
                     <h2>Enter your email address.</h2>
                     <div class="input"><input type="text" formControlName="email" placeholder="Password" placeholder="email address" value=""></div>
                     <div class="form-footer"><button [disabled]="!myAuthForm.valid || isLoggedIn " type="submit" class="button default centered " type="submit"></button><a class="label-marker" href="/auth/reset-password">← Back to Login Page</a></div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
