
<section id="videos" class="videos">
    <h2 class="text-center">Videos</h2>
    <div class="container">
        <div class="row text-center ">



            <div class="col-md-3 col-sm-3 col-xs-12 cell">
                <a target="_blank" href="https://www.youtube.com/watch?v=XUmEz4lpQOM">
                    <iframe src="https://www.youtube.com/embed/XUmEz4lpQOM" frameborder="0" allowfullscreen=""></iframe>
                    <h3>Fighting the power</h3>
                    <span class="speaker">Steven Mulder</span>
                </a>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12 cell" >
            <a target="_blank" href="https://www.youtube.com/watch?v=loYkHSQ_4Dg">
                <iframe src="https://www.youtube.com/embed/loYkHSQ_4Dg" frameborder="0" allowfullscreen=""></iframe>
                <h3>Introduction to RxJS5</h3>
                <span class="speaker">Gerard Sans</span>
            </a>
        </div><div class="col-md-3 col-sm-3 col-xs-12 cell" >
        <a target="_blank" href="https://www.youtube.com/watch?v=CUxD91DWkGM">
            <iframe src="https://www.youtube.com/embed/CUxD91DWkGM" frameborder="0" allowfullscreen=""></iframe>
            <h3>Change Detection </h3>
            <span class="speaker">Pascal Precht</span>
        </a>
    </div><div class="col-md-3 col-sm-3 col-xs-12 cell">
    <a target="_blank" href="https://www.youtube.com/watch?v=IbLO08NMMXY">
        <iframe src="https://www.youtube.com/embed/IbLO08NMMXY" frameborder="0" allowfullscreen=""></iframe>
        <h3>Rendering in Angular 2</h3>
        <span class="speaker">Leonardo Zizzamia</span>
    </a>
</div><div class="col-md-3 col-sm-3 col-xs-12 cell is-selected" >
<a target="_blank" href="https://www.youtube.com/watch?v=WfRmhYgwIho">
    <iframe src="https://www.youtube.com/embed/WfRmhYgwIho" frameborder="0" allowfullscreen=""></iframe>
    <h3>Smart and Dumb Components</h3>
    <span class="speaker">Shai Reznik</span>
</a>
</div><div class="col-md-3 col-sm-3 col-xs-12 cell" >
<a target="_blank" href="https://www.youtube.com/watch?v=1RzYpIAn-3g">
    <iframe src="https://www.youtube.com/embed/1RzYpIAn-3g" frameborder="0" allowfullscreen=""></iframe>
    <h3>Awesome Productivity with Angular 2</h3>
    <span class="speaker">Martin Probst</span>
</a>
</div><div class="col-md-3 col-sm-3 col-xs-12 cell" >
<a target="_blank" href="https://www.youtube.com/watch?v=oO0b7iplgYY">
    <iframe src="https://www.youtube.com/embed/oO0b7iplgYY" frameborder="0" allowfullscreen=""></iframe>
    <h3>Which Way is up ?</h3>
    <span class="speaker">Todd Motto</span>
</a>
</div><div class="col-md-3 col-sm-3 col-xs-12 cell" >
<a target="_blank" href="https://www.youtube.com/watch?v=xAEFTSMEgIQ">
    <iframe src="https://www.youtube.com/embed/xAEFTSMEgIQ" frameborder="0" allowfullscreen=""></iframe>
    <h3>Reactive Angular 2</h3>
    <span class="speaker">Rob Wormald</span>
</a>
</div>


</div>
</div>
</section>





<section id="keynote-speakers">
    <div class="container">
        <div class="row announcement text-center">
            <h2>Keynote Speakers</h2>
        </div>

        <div class="row cards">
            <div class="col-lg-4">
                <div class="card white speaker">
                    <header>
                        <div class="image-speaker" style="background-image: url('/assets/images/speakers/rob-wormald.png')"></div>
                        <span class="name">Rob Wormald</span>
                        <span class="title">- Core Team Angular</span>
                    </header>
                    <div class="content">
                        Rob Wormald is part of the Angular core team, a Google Developer Expert and JavaScript guru. More information about his talk will be available soon.<br><br><br>
                    </div>
                    <footer>
                        <a title="Rob Wormald on Github" target="_blank" href="https://github.com/robwormald" class="button github">robwormald</a>
                        <a title="Rob Wormald on Twitter" target="_blank" href="https://twitter.com/robwormald" class="button twitter">@robwormald</a>
                    </footer>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card white speaker">
                    <header>
                        <div class="image-speaker" style="background-image: url('/assets/images/speakers/martin-probst.jpg')"></div>
                        <span class="name">Martin Probst</span>
                        <span class="title">- Software Engineer @ Google</span>
                    </header>
                    <div class="content">
                        Martin recently joined the Angular team full time and works on developer tooling, with a particular focus on TypeScript. Before Google, Martin worked on database systems, query languages, and storage optimisation.
                    </div>
                    <footer>
                        <a title="Martin Probst on Github" target="_blank" href="https://github.com/mprobst" class="button github">mprobst</a>
                        <a title="Martin Probst on Twitter" target="_blank" href="https://www.twitter.com/martin_probst" class="button twitter">@martinprobst</a>
                    </footer>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card white speaker">
                    <header>
                        <div class="image-speaker" style="background-image: url('/assets/images/speakers/todd-motto.jpg')"></div>
                        <span class="name">Todd Motto</span>
                        <span class="title">-   Front-end Engineer @ Mozio</span>
                    </header>
                    <div class="content">
                        Todd Motto is an expert on JavaScript, Angular and React. He is a Google Developer Expert, an experienced conference speaker and open source evangelist.<br><br>
                    </div>
                    <footer>
                        <a title="Todd Motto on Github" target="_blank" href="https://github.com/ToddMotto" class="button github">ToddMotto</a>
                        <a title="Todd Motto on Twitter" target="_blank" href="https://twitter.com/toddmotto" class="button twitter">@toddmotto</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ngIf: conference --><!-- end ngIf: conference -->
