
<section id="videos" class="videos">
    <h2 class="text-center">Videos</h2>
    <div class="container">
        <div class="row text-center ">



            <div class="col-md-3 col-sm-3 col-xs-12 cell">
                <a target="_blank" href="https://www.youtube.com/watch?v=XUmEz4lpQOM">
                    <iframe src="https://www.youtube.com/embed/XUmEz4lpQOM" frameborder="0" allowfullscreen=""></iframe>
                    <h3>Fighting the power</h3>
                    <span class="speaker">Steven Mulder</span>
                </a>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12 cell" >
            <a target="_blank" href="https://www.youtube.com/watch?v=loYkHSQ_4Dg">
                <iframe src="https://www.youtube.com/embed/loYkHSQ_4Dg" frameborder="0" allowfullscreen=""></iframe>
                <h3>Introduction to RxJS5</h3>
                <span class="speaker">Gerard Sans</span>
            </a>
        </div><div class="col-md-3 col-sm-3 col-xs-12 cell" >
        <a target="_blank" href="https://www.youtube.com/watch?v=CUxD91DWkGM">
            <iframe src="https://www.youtube.com/embed/CUxD91DWkGM" frameborder="0" allowfullscreen=""></iframe>
            <h3>Change Detection </h3>
            <span class="speaker">Pascal Precht</span>
        </a>
    </div><div class="col-md-3 col-sm-3 col-xs-12 cell">
    <a target="_blank" href="https://www.youtube.com/watch?v=IbLO08NMMXY">
        <iframe src="https://www.youtube.com/embed/IbLO08NMMXY" frameborder="0" allowfullscreen=""></iframe>
        <h3>Rendering in Angular 2</h3>
        <span class="speaker">Leonardo Zizzamia</span>
    </a>
</div><div class="col-md-3 col-sm-3 col-xs-12 cell is-selected" >
<a target="_blank" href="https://www.youtube.com/watch?v=WfRmhYgwIho">
    <iframe src="https://www.youtube.com/embed/WfRmhYgwIho" frameborder="0" allowfullscreen=""></iframe>
    <h3>Smart and Dumb Components</h3>
    <span class="speaker">Shai Reznik</span>
</a>
</div><div class="col-md-3 col-sm-3 col-xs-12 cell" >
<a target="_blank" href="https://www.youtube.com/watch?v=1RzYpIAn-3g">
    <iframe src="https://www.youtube.com/embed/1RzYpIAn-3g" frameborder="0" allowfullscreen=""></iframe>
    <h3>Awesome Productivity with Angular 2</h3>
    <span class="speaker">Martin Probst</span>
</a>
</div><div class="col-md-3 col-sm-3 col-xs-12 cell" >
<a target="_blank" href="https://www.youtube.com/watch?v=oO0b7iplgYY">
    <iframe src="https://www.youtube.com/embed/oO0b7iplgYY" frameborder="0" allowfullscreen=""></iframe>
    <h3>Which Way is up ?</h3>
    <span class="speaker">Todd Motto</span>
</a>
</div><div class="col-md-3 col-sm-3 col-xs-12 cell" >
<a target="_blank" href="https://www.youtube.com/watch?v=xAEFTSMEgIQ">
    <iframe src="https://www.youtube.com/embed/xAEFTSMEgIQ" frameborder="0" allowfullscreen=""></iframe>
    <h3>Reactive Angular 2</h3>
    <span class="speaker">Rob Wormald</span>
</a>
</div>


</div>
</div>
</section>
